RewriteEngine On
RewriteBase /

# Rediriger les URL propres
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.php [L]

# Protéger fichiers sensibles
<FilesMatch "\.(env|gitignore|htaccess|md|lock|json)$">
    Require all denied
</FilesMatch>
